@model EA.Dotnet.TaskList.Application.ViewModels.TarefaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Da Tarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEdicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEdicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRemocao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRemocao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TarefaId }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
