@model IEnumerable<EA.Dotnet.TaskList.Application.ViewModels.TarefaViewModel>

@{
    ViewBag.Title = "Lista de Tarefas";
}

<h2>Lista de Tarefas</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEdicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRemocao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConclusao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEdicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRemocao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConclusao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TarefaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TarefaId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.TarefaId })
        </td>
    </tr>
}

</table>
